ul {
    list-style: none;
}

.page-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.filter-caption {
    width: 100%;
    height: 10%;
    color: var(--primary);
    font-weight: 700;
    font-size: 2em;
}


.filter-box {
    height: 100%;
    width: 25vw;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: inline-block;
    margin: 1%;
    border-radius: 5px;
    border: 1px var(--primary) solid;
}

.search-box {
    margin: 1%;
    height: auto;
    width: 70vw;
    background-color: #eee;
    display: inline-block;

}

.no-list-style {
    list-style: none;
}

.sublist1 {
    margin-left: 2%;
    border-left: 2px black solid;
    padding-left: 4%;
    font-weight: 600
}

.sub-list-items {
    margin-top: 4%;
    font-size: 1em;

}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 1.2em;
    width: 1.2em;
    background-color: white;
    margin-right: 1%;
    border-radius: 5px;
    border: grey 2px solid;
    cursor: pointer;
}

label {
    cursor: pointer;
}

/* input[type="checkbox"]::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 1em;
    color: grey;
    display: none;
    outline: none;
} */

/* 
input[type="checkbox"]:checked::after{
    display: inline-block;
} */

input[type="checkbox"]:hover {
    background-color: gainsboro;
}

input[type="checkbox"]:checked {
    background-color: var(--primary);
}

.header {
    margin-top: 4%;
}

.sublist2 {
    margin-top: 4%;
    font-weight: 600
}

@media (max-width: 600px) {
    .filter-caption {
        font-size: 1em;
    }

    .sublist1 {
        border-left: 2px black solid;
        padding-left: 4%;

    }

    .sub-list-items {
        margin-top: 0%;
        font-size: 0.7em;
    }

    .header {
        margin-top: 3%;
    }

    .sublist2 {
        margin-top: 3%;
    }

    h2 {
        font-size: 0.8em;
    }

    .filter-box {
        width: 90vw;
    }

}



/* this is where the filter box stops */

input[type="text"] {
    width: 100%;
}