@import "./universal.css";

.article-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.big-card {
  width: 1120px;
  height: 500px;
}

.small-card {
  width: 350px;
  height: 456px;
  display: inline-block;
  margin-right: 20px;
}

.article-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card-content {
  padding: 10px;
}

.card-content-small p {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.card-content-small .researchfield {
  color: #2b52b7;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: 20px;
}

.card-content-small .status {
  color: #2b52b7;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-left: 120px;
}

.card-content-small .author {
  color:  #2b52b7;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.card-content p {
  font-size: 14px;
}

.section-bigcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-smallcontainer {
  margin-top: 50px;
  display: flex;
  width: 1120px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 50px;
  flex-wrap: wrap;
}
