.nav-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.15s linear 0.05s;
    z-index: 999;
}

.hidden {
    top: -3.5rem;
    /* has to be the value of nav-wrap's height but negative */
}

.navbar {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    z-index: 998;
    background-color: black;
    width: 100%;
}

.left-container {
    display: flex;
    height: 100%;
    /* width: 50%; */
}

.logo-container {
    display: block;
    height: 100%;
}

.logo {
    height: 100%;
    align-self: center;
    justify-self: center;
    display: inline-block;
}

.site-name-container {
    margin-left: 0.75rem;
}

.site-name {
    line-height: 3.5rem;
    font-size: 1.75rem;
    font-weight: bold;
    color: white;

}

.menu-container {
    font-size: 1.8rem;
    aspect-ratio: 1/1;
    height: 3.5rem;
    text-align: center;
}

.menu-icons {
    color: #fff;
    line-height: 3.5rem;
}

.nav-menu.active {
    visibility: visible;
    position: fixed;
    width: 20%;
    top: 3.5rem;
    background-color: black;
    z-index: 999;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menu.inactive {
    visibility: hidden;
    position: fixed;
}

.nav-pages {
    margin: 7%;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.nav-gutter {
    width: 100%;
    height: 3.5rem;
    /* has to be the same value as height of nav-wrap*/
    background-color: black;
}

@media (max-width: 1000px) or (max-aspect-ratio: 1/1) {
    .nav-menu.active {
        width: 40%;
        top: 3rem;
    }
}

@media (max-width: 600px) {
    .nav-menu.active {
        width: 70%;
    }

    .site-name-container {
        display: none;
    }
}

@media (max-width: 320px) {
    .logo-container {
        display: none;
    }

    .hidden {
        top: -3rem;
    }

    .menu-container {
        height: 3rem;
    }

    .nav-menu.active {
        width: 70%;
    }

    .navbar {
        height: 3rem;
    }

    .nav-gutter {
        height: 3rem;
    }

    .menu-icons {
        line-height: 3rem;
    }

    .site-name {
        line-height: 3rem;
    }
}