@import './universal.css';

.nav-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.15s linear 0.05s;
}

.hidden {
    top: -3rem;
}

.navbar {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    z-index: 998;
    background-color: black;
    width: 100%;
}



.logo-container {
    height: 100%;
    color: white;
    display: flex;
    margin-left: 2%;
}

.logo {
    height: 100%;
    align-self: center;
    display: inline-block;
    margin: auto;
    vertical-align: middle
}

.menu-container {
    margin-right: 2%;
    font-size: 1.8rem;
}

.menu-icons {
    color: #fff;

}

.nav-menu.active {
    visibility: visible;
    position: fixed;
    width: 20%;
    top: 3rem;
    left: 80%;
    background-color: black;
    z-index: 999;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menu.inactive {
    visibility: hidden;
    position: fixed;
}

.nav-pages {
    margin: 7%;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

@media (max-width: 1000px) or (max-aspect-ratio: 1/1) {
    .nav-menu.active {
        width: 40%;
        left: 60%
    }

}