@import './universal.css';
.navbar {
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 998;
        background-color: black;
}
.logo-container {
    width: 50%;
    height: 35%;
    color: white;
    display: flex;
    margin-left: 1%;
}
.logo{
    width: auto;
    height: 90%;
    align-self: center;
    display: inline-block;
    margin: auto;
    vertical-align: middle
}

.menu-icons{
    position: absolute;
    right: 5%;
    top: 5%;
    color: #fff;

}

.nav-menu.active{
    visibility: visible;
    position: fixed;
    width: 20%;
    right: 0;
    top: 12%;
    background-color: black;
    z-index: 999;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-menu.inactive{
    visibility: hidden;
    position: absolute;
}
@media (max-width: 500px){
    .nav-menu.active{
        visibility: visible;
        position: absolute;
        width: 50%;
        right: 0;
        top: 12%;
        background-color: black;
        z-index: 999;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.nav-pages{
    margin: 7%;
    
}
.nav-links{
    text-decoration: none;
    color: white;
    font-size: 22px;
}












