@import './universal.css';
.navbar {
        height: 27vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: black;
}
.logo-container {
    width: 50%;
    height: 50%;
    color: white;
    display: inline-block;
}
.logo{
    width: auto;
    height: 100%;
    align-self: center;
    display: inline-block;
    margin: auto;
    vertical-align: middle
}
.logo-words{
    vertical-align: middle;
    width: auto;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: auto;
    margin-top: auto;
    display: inline-block;
    
}
.menu-icons{
    position: absolute;
    right: 5%;
    top: 5%;
    color: #fff;

}

.nav-menu.active{
    visibility: visible;
}
.nav-menu.inactive{
    visibility: hidden;
}












